/* .nav, .navbar-nav, .navbar, .container-fluid, .collapse {
  background-color: black;
  margin: 0;
  padding: 0;
  color: aliceblue;
} */

.cards{
  display:flex;
  flex-direction: row;
  flex-basis: 33.333333%;
  flex-wrap: wrap;
  padding: 30px;
  margin: 0px 0 0px 170px;
  width:75%;
}
.main-img{
  background-color: black;
}

.main-img img {
  width: 1260px;
}
.background{
  background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #040728 75%, #09054D 100%);
background: -webkit-linear-gradient(top, #000000 0%, #040728 75%, #09054D 100%);
background: linear-gradient(to bottom, #000000 0%, #040728 75%, #09054D 100%);
}
.add{
  background: #09054D;
background: -moz-linear-gradient(top, #09054D 0%, #040728 83%, #050328 100%);
background: -webkit-linear-gradient(top, #09054D 0%, #040728 83%, #050328 100%);
background: linear-gradient(to bottom, #09054D 0%, #040728 83%, #050328 100%);
}

